body {
  font-family: Georgia, "Times New Roman" , Times, serif;
  text-align: justify;
  color: #2E7720;
  overflow: auto;
}

section.header {
  float: top;
  margin-left: 206;
  margin-top: 0;
  overflow: auto;
}

section.footer {
  float: bottom;
  margin-left: 0;
  margin-top: 0;
  height: 20px;
  font-style: italic;
  width: 100%;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  float: left;
  width: 200px;
}
nav li {
  background: #BEF7C6;
  margin: 0.5em 0 0 0;
  padding: 0.5em 1em;
  border-right: 1em solid #253F1F;
}
nav ul td a {
  text-align: left;
  font-size: small;
  padding-left: 0.5em;
}
nav ul a {
  text-decoration: none;
  font-size: large;
  font-weight: bold;
}

a:link {
  color: #1C8941;
}
a:visited {
  color: #125629;
}

input:not([type="image"]) {
  width: 140px;
}
td.comp {
  width: 218px;
}

section {
  margin-top: 6px;
  margin-left: 206px;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: Century Schoolbook, "Times New Roman" , Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
  color: #28634A;
}

.results {
  background: #E8FFE8;
  border: solid 1px #00FF77;
  min-width: 800px;
  min-height: 600px;
  padding: 0px;
  padding-right: 0px;
  overflow-y: scroll;
  display:inline-block;
}

.results table {
  min-width: 100%;
  min-height: 100%;
}
.results table tr th {
  text-align: left;
  background: #98CE9F;
}
.results table tr td {
  text-align: left;
}

.opt_key {
  text-align: right;
  width: 120px;
}
.opt_value {
  width: 600px;
}
.outCanvasWrapper{ 
  width:800px; height:600px; 
  border: solid 1px #00FF77;
}
.inCanvasWrapper{ 
  width:100%; height:100%; 
  position:relative;
}
.coveredImage{ 
  width:100%; height:100%; 
  position:absolute; top:0px; left:0px;
  background-color: rgba(0,255,0,.1);
}
.coveringCanvas{ 
  width:100%; height:100%; 
  position:absolute; top:0px; left:0px;
}
